In [183]:
import warnings
warnings.filterwarnings('ignore')
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

In [184]:
house=pd.read_csv('Future Data.csv')

In [185]:
house.shape

(1459, 80)

In [186]:
house.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [187]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [188]:
list(house.columns)

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition']

In [189]:
house.describe(include='object').T

              count unique      top  freq
MSZoning       1455      5       RL  1114
Street         1459      2     Pave  1453
Alley           107      2     Grvl    70
LotShape       1459      4      Reg   934
LandContour    1459      4      Lvl  1311
Utilities      1457      1   AllPub  1457
LotConfig      1459      5   Inside  1081
LandSlope      1459      3      Gtl  1396
Neighborhood   1459     25    NAmes   218
Condition1     1459      9     Norm  1251
Condition2     1459      5     Norm  1444
BldgType       1459      5     1Fam  1205
HouseStyle     1459      7   1Story   745
RoofStyle      1459      6    Gable  1169
RoofMatl       1459      4  CompShg  1442
Exterior1st    1458     13  VinylSd   510
Exterior2nd    1458     15  VinylSd   510
MasVnrType     1443      4     None   878
ExterQual      1459      4       TA   892
ExterCond      1459      5       TA  1256
Foundation     1459      6    PConc   661
BsmtQual       1415      4       TA   634
BsmtCond       1414      4       TA  1295
BsmtExposure   1415      4       No   951
BsmtFinType1   1417      6      GLQ   431
BsmtFinType2   1417      6      Unf  1237
Heating        1459      4     GasA  1446
HeatingQC      1459      5       Ex   752
CentralAir     1459      2        Y  1358
Electrical     1459      4    SBrkr  1337
KitchenQual    1458      4       TA   757
Functional     1457      7      Typ  1357
FireplaceQu     729      5       Gd   364
GarageType     1383      6   Attchd   853
GarageFinish   1381      3      Unf   625
GarageQual     1381      4       TA  1293
GarageCond     1381      5       TA  1328
PavedDrive     1459      3        Y  1301
PoolQC            3      2       Ex     2
Fence           290      4    MnPrv   172
MiscFeature      51      3     Shed    46
SaleType       1458      9       WD  1258
SaleCondition  1459      6   Normal  1204

In [190]:
house.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,1459.0,2190.000000,421.321334,1461.0,1825.50,2190.0,2554.50,2919.0
MSSubClass,1459.0,57.378341,42.746880,20.0,20.00,50.0,70.00,190.0
LotFrontage,1232.0,68.580357,22.376841,21.0,58.00,67.0,80.00,200.0
LotArea,1459.0,9819.161069,4955.517327,1470.0,7391.00,9399.0,11517.50,56600.0
OverallQual,1459.0,6.078821,1.436812,1.0,5.00,6.0,7.00,10.0
OverallCond,1459.0,5.553804,1.113740,1.0,5.00,5.0,6.00,9.0
YearBuilt,1459.0,1971.357779,30.390071,1879.0,1953.00,1973.0,2001.00,2010.0
YearRemodAdd,1459.0,1983.662783,21.130467,1950.0,1963.00,1992.0,2004.00,2010.0
MasVnrArea,1444.0,100.709141,177.625900,0.0,0.00,0.0,164.00,1290.0
BsmtFinSF1,1458.0,439.203704,455.268042,0.0,0.00,350.5,753.50,4010.0
BsmtFinSF2,1458.0,52.619342,176.753926,0.0,0.00,0.0,0.00,1526.0
BsmtUnfSF,1458.0,554.294925,437.260486,0.0,219.25,460.0,797.75,2140.0
TotalBsmtSF,1458.0,1046.117970,442.898624,0.0,784.00,988.0,1305.00,5095.0
1stFlrSF,1459.0,1156.534613,398.165820,407.0,873.50,1079.0,1382.50,5095.0
2ndFlrSF,1459.0,325.967786,420.610226,0.0,0.00,0.0,676.00,1862.0
LowQualFinSF,1459.0,3.543523,44.043251,0.0,0.00,0.0,0.00,1064.0
GrLivArea,1459.0,1486.045922,485.566099,407.0,1117.50,1432.0,1721.00,5095.0
BsmtFullBath,1457.0,0.434454,0.530648,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1457.0,0.065202,0.252468,0.0,0.00,0.0,0.00,2.0
FullBath,1459.0,1.570939,0.555190,0.0,1.00,2.0,2.00,4.0
HalfBath,1459.0,0.377656,0.503017,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1459.0,2.854010,0.829788,0.0,2.00,3.0,3.00,6.0
KitchenAbvGr,1459.0,1.042495,0.208472,0.0,1.00,1.0,1.00,2.0
TotRmsAbvGrd,1459.0,6.385195,1.508895,3.0,5.00,6.0,7.00,15.0
Fireplaces,1459.0,0.581220,0.647420,0.0,0.00,0.0,1.00,4.0
GarageYrBlt,1381.0,1977.721217,26.431175,1895.0,1959.00,1979.0,2002.00,2207.0
GarageCars,1458.0,1.766118,0.775945,0.0,1.00,2.0,2.00,5.0
GarageArea,1458.0,472.768861,217.048611,0.0,318.00,480.0,576.00,1488.0
WoodDeckSF,1459.0,93.174777,127.744882,0.0,0.00,0.0,168.00,1424.0
OpenPorchSF,1459.0,48.313914,68.883364,0.0,0.00,28.0,72.00,742.0
EnclosedPorch,1459.0,24.243317,67.227765,0.0,0.00,0.0,0.00,1012.0
3SsnPorch,1459.0,1.794380,20.207842,0.0,0.00,0.0,0.00,360.0
ScreenPorch,1459.0,17.064428,56.609763,0.0,0.00,0.0,0.00,576.0
PoolArea,1459.0,1.744345,30.491646,0.0,0.00,0.0,0.00,800.0
MiscVal,1459.0,58.167923,630.806978,0.0,0.00,0.0,0.00,17000.0
MoSold,1459.0,6.104181,2.722432,1.0,4.00,6.0,8.00,12.0
YrSold,1459.0,2007.769705,1.301740,2006.0,2007.00,2008.0,2009.00,2010.0

In [191]:
null_columns=house.columns[house.isnull().any()]

In [192]:
list(null_columns)

['MSZoning',
 'LotFrontage',
 'Alley',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType']

In [193]:
for x in null_columns:
    print(x)

MSZoning
LotFrontage
Alley
Utilities
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
BsmtFullBath
BsmtHalfBath
KitchenQual
Functional
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PoolQC
Fence
MiscFeature
SaleType

In [194]:
house[null_columns].isnull().sum()*100/len(house)

MSZoning         0.274160
LotFrontage     15.558602
Alley           92.666210
Utilities        0.137080
Exterior1st      0.068540
Exterior2nd      0.068540
MasVnrType       1.096642
MasVnrArea       1.028101
BsmtQual         3.015764
BsmtCond         3.084304
BsmtExposure     3.015764
BsmtFinType1     2.878684
BsmtFinSF1       0.068540
BsmtFinType2     2.878684
BsmtFinSF2       0.068540
BsmtUnfSF        0.068540
TotalBsmtSF      0.068540
BsmtFullBath     0.137080
BsmtHalfBath     0.137080
KitchenQual      0.068540
Functional       0.137080
FireplaceQu     50.034270
GarageType       5.209047
GarageYrBlt      5.346127
GarageFinish     5.346127
GarageCars       0.068540
GarageArea       0.068540
GarageQual       5.346127
GarageCond       5.346127
PoolQC          99.794380
Fence           80.123372
MiscFeature     96.504455
SaleType         0.068540
dtype: float64

In [195]:
house[null_columns].isnull().sum()

MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

In [196]:
house["LotFrontage"].fillna(value=0.00,inplace=True)

In [197]:
house["LotFrontage"].isnull().sum()

0

In [198]:
house["MasVnrArea"].fillna(value=0.00,inplace=True)

In [199]:
house["MasVnrArea"].isnull().sum()

0

In [200]:
house["Alley"].fillna(value="No Alley Access",inplace=True)

In [201]:
house["Alley"].isnull().sum()

0

In [202]:
house["MasVnrType"] = np.where((house["MSZoning"] =="FV") & (house["MasVnrType"].isnull()) , 'None',house["MasVnrType"])

In [203]:
house["MasVnrType"] = np.where((house["MSZoning"] =="RL") & (house["MSSubClass"] ==20) & (house["MasVnrType"].isnull()) , 'None',house["MasVnrType"])

In [204]:
house["MasVnrType"] = np.where((house["MSZoning"] =="RL") & (house["MSSubClass"] ==60) & (house["MasVnrType"].isnull()) ,'BrkFace',house["MasVnrType"])

In [205]:
house["MasVnrType"].isnull().sum()

1

In [206]:
house["BsmtQual"].fillna(value="No Basement",inplace=True)

In [207]:
house["BsmtCond"].fillna(value="No Basement",inplace=True)

In [208]:
house["BsmtExposure"].fillna(value="No Basement",inplace=True)

In [209]:
house["BsmtFinType1"].fillna(value="No Basement",inplace=True)

In [210]:
house["BsmtFinType2"].fillna(value="No Basement",inplace=True)

In [211]:
house["Electrical"].fillna(value="SBrkr",inplace=True)

In [212]:
house["GarageType"].fillna(value="No Garage",inplace=True)

In [213]:
house["GarageFinish"].fillna(value="No Garage",inplace=True)

In [214]:
house["GarageQual"].fillna(value="No Garage",inplace=True)

In [215]:
house["GarageCond"].fillna(value="No Garage",inplace=True)

In [216]:
house["PoolQC"].fillna(value="No Pool",inplace=True)

In [217]:
house["Fence"].fillna(value="No Fence",inplace=True)

In [218]:
house["MiscFeature"].fillna(value="None",inplace=True)

In [219]:
house[null_columns].isnull().sum()

MSZoning          4
LotFrontage       0
Alley             0
Utilities         2
Exterior1st       1
Exterior2nd       1
MasVnrType        1
MasVnrArea        0
BsmtQual          0
BsmtCond          0
BsmtExposure      0
BsmtFinType1      0
BsmtFinSF1        1
BsmtFinType2      0
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
KitchenQual       1
Functional        2
FireplaceQu     730
GarageType        0
GarageYrBlt      78
GarageFinish      0
GarageCars        1
GarageArea        1
GarageQual        0
GarageCond        0
PoolQC            0
Fence             0
MiscFeature       0
SaleType          1
dtype: int64

In [220]:
house["FireplaceQu"].fillna(value="No Fireplace",inplace=True)

In [221]:
house["GarageYrBlt"].fillna(value=1950,inplace=True)

In [222]:
house[null_columns].isnull().sum()

MSZoning        4
LotFrontage     0
Alley           0
Utilities       2
Exterior1st     1
Exterior2nd     1
MasVnrType      1
MasVnrArea      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      1
BsmtFinType2    0
BsmtFinSF2      1
BsmtUnfSF       1
TotalBsmtSF     1
BsmtFullBath    2
BsmtHalfBath    2
KitchenQual     1
Functional      2
FireplaceQu     0
GarageType      0
GarageYrBlt     0
GarageFinish    0
GarageCars      1
GarageArea      1
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
SaleType        1
dtype: int64

In [223]:
null_columns=house.columns[house.isnull().any()]

In [224]:
house[null_columns].isnull().sum()

MSZoning        4
Utilities       2
Exterior1st     1
Exterior2nd     1
MasVnrType      1
BsmtFinSF1      1
BsmtFinSF2      1
BsmtUnfSF       1
TotalBsmtSF     1
BsmtFullBath    2
BsmtHalfBath    2
KitchenQual     1
Functional      2
GarageCars      1
GarageArea      1
SaleType        1
dtype: int64

In [225]:
house["Utilities"].fillna(value="ELO",inplace=True)

In [226]:
house['Exterior1st'].value_counts()

VinylSd    510
MetalSd    230
HdBoard    220
Wd Sdng    205
Plywood    113
CemntBd     65
BrkFace     37
WdShing     30
AsbShng     24
Stucco      18
BrkComm      4
AsphShn      1
CBlock       1
Name: Exterior1st, dtype: int64

In [227]:
house['Exterior2nd'].value_counts()

VinylSd    510
MetalSd    233
HdBoard    199
Wd Sdng    194
Plywood    128
CmentBd     66
Wd Shng     43
BrkFace     22
Stucco      21
AsbShng     18
Brk Cmn     15
ImStucc      5
CBlock       2
AsphShn      1
Stone        1
Name: Exterior2nd, dtype: int64

In [228]:
house["Exterior1st"].fillna(value="VinylSd",inplace=True)

In [229]:
house["Exterior2nd"].fillna(value="VinylSd",inplace=True)

In [230]:
house['MasVnrType'].value_counts()

None       888
BrkFace    439
Stone      121
BrkCmn      10
Name: MasVnrType, dtype: int64

In [231]:
house["MasVnrType"].fillna(value="None",inplace=True)

In [232]:
house["BsmtFinSF1"].fillna(value=0,inplace=True)

In [233]:
house["BsmtFinSF2"].fillna(value=0,inplace=True)

In [234]:
house["BsmtUnfSF"].fillna(value=0,inplace=True)

In [235]:
house["TotalBsmtSF"].fillna(value=0,inplace=True)

In [236]:
house["BsmtFullBath"].fillna(value=0,inplace=True)

In [237]:
house["BsmtHalfBath"].fillna(value=0,inplace=True)

In [238]:
house["KitchenQual"].fillna(value="TA",inplace=True)

In [239]:
house["Functional"].fillna(value="Sal",inplace=True)

In [240]:
house["GarageCars"].fillna(value=0,inplace=True)

In [241]:
house["GarageArea"].fillna(value=0,inplace=True)

In [242]:
house["SaleType"].value_counts()

WD       1258
New       117
COD        44
ConLD      17
CWD         8
Oth         4
ConLI       4
Con         3
ConLw       3
Name: SaleType, dtype: int64

In [243]:
house["SaleType"].fillna(value="WD",inplace=True)

In [244]:
null_columns=house.columns[house.isnull().any()]

In [245]:
house[null_columns].isnull().sum()

MSZoning    4
dtype: int64

In [246]:
house["MSZoning"].value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [247]:
house["MSZoning"].fillna(value="RL",inplace=True)

In [248]:
house[null_columns].isnull().sum()

MSZoning    0
dtype: int64

In [249]:
house.to_excel("future_cleaned_1.xlsx",sheet_name='cleaned_1')

In [250]:
house["Neighborhood"].unique()

array(['NAmes', 'Gilbert', 'StoneBr', 'BrDale', 'NPkVill', 'NridgHt',
       'Blmngtn', 'NoRidge', 'Somerst', 'SawyerW', 'Sawyer', 'NWAmes',
       'OldTown', 'BrkSide', 'ClearCr', 'SWISU', 'Edwards', 'CollgCr',
       'Crawfor', 'Blueste', 'IDOTRR', 'Mitchel', 'Timber', 'MeadowV',
       'Veenker'], dtype=object)

In [251]:
house["MSSubClass"].unique()

array([ 20,  60, 120, 160,  80,  30,  50,  90,  85, 190,  45,  70,  75,
       180,  40, 150], dtype=int64)

In [252]:
house["MSZoning"].unique()

array(['RH', 'RL', 'RM', 'FV', 'C (all)'], dtype=object)

In [253]:
house["MSZoning"] = np.where(house["MSZoning"] == "C (all)", "C", house["MSZoning"])

In [254]:
house["MSZoning"].unique()

array(['RH', 'RL', 'RM', 'FV', 'C'], dtype=object)

In [255]:
house["Street"].unique()

array(['Pave', 'Grvl'], dtype=object)

In [256]:
house["Alley"].unique()

array(['No Alley Access', 'Pave', 'Grvl'], dtype=object)

In [257]:
house["LotShape"].unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [258]:
house["LandContour"].unique()

array(['Lvl', 'HLS', 'Bnk', 'Low'], dtype=object)

In [259]:
house["Utilities"].unique()

array(['AllPub', 'ELO'], dtype=object)

In [260]:
house["LotConfig"].unique()

array(['Inside', 'Corner', 'FR2', 'CulDSac', 'FR3'], dtype=object)

In [261]:
house["LandSlope"].unique()

array(['Gtl', 'Mod', 'Sev'], dtype=object)

In [262]:
house["Neighborhood"].unique()

array(['NAmes', 'Gilbert', 'StoneBr', 'BrDale', 'NPkVill', 'NridgHt',
       'Blmngtn', 'NoRidge', 'Somerst', 'SawyerW', 'Sawyer', 'NWAmes',
       'OldTown', 'BrkSide', 'ClearCr', 'SWISU', 'Edwards', 'CollgCr',
       'Crawfor', 'Blueste', 'IDOTRR', 'Mitchel', 'Timber', 'MeadowV',
       'Veenker'], dtype=object)

In [263]:
house["Neighborhood"] = np.where(house["Neighborhood"] == "NAmes", "C", house["Neighborhood"])

In [264]:
house["Neighborhood"] = np.where(house["Neighborhood"] == "C", "Names", house["Neighborhood"])

In [265]:
house["Neighborhood"].unique()

array(['Names', 'Gilbert', 'StoneBr', 'BrDale', 'NPkVill', 'NridgHt',
       'Blmngtn', 'NoRidge', 'Somerst', 'SawyerW', 'Sawyer', 'NWAmes',
       'OldTown', 'BrkSide', 'ClearCr', 'SWISU', 'Edwards', 'CollgCr',
       'Crawfor', 'Blueste', 'IDOTRR', 'Mitchel', 'Timber', 'MeadowV',
       'Veenker'], dtype=object)

In [266]:
house["Condition1"].unique()

array(['Feedr', 'Norm', 'PosN', 'RRNe', 'Artery', 'RRNn', 'PosA', 'RRAn',
       'RRAe'], dtype=object)

In [267]:
house["Condition2"].unique()

array(['Norm', 'Feedr', 'PosA', 'PosN', 'Artery'], dtype=object)

In [268]:
house["BldgType"].unique()

array(['1Fam', 'TwnhsE', 'Twnhs', 'Duplex', '2fmCon'], dtype=object)

In [269]:
house["BldgType"] = np.where(house["BldgType"] == "2fmCon", "2FmCon", house["BldgType"])

In [270]:
house["BldgType"] = np.where(house["BldgType"] == "Duplex", "Duplx", house["BldgType"])
house["BldgType"] = np.where(house["BldgType"] == "Twnhs", "TwnhsI", house["BldgType"])

In [271]:
house["BldgType"].unique()

array(['1Fam', 'TwnhsE', 'TwnhsI', 'Duplx', '2FmCon'], dtype=object)

In [272]:
house["HouseStyle"].unique()

array(['1Story', '2Story', 'SLvl', '1.5Fin', 'SFoyer', '2.5Unf', '1.5Unf'],
      dtype=object)

In [273]:
house["RoofStyle"].unique()

array(['Gable', 'Hip', 'Gambrel', 'Flat', 'Mansard', 'Shed'], dtype=object)

In [274]:
house["RoofMatl"].unique()

array(['CompShg', 'Tar&Grv', 'WdShake', 'WdShngl'], dtype=object)

In [275]:
house["Exterior1st"].unique()

array(['VinylSd', 'Wd Sdng', 'HdBoard', 'Plywood', 'MetalSd', 'CemntBd',
       'WdShing', 'BrkFace', 'AsbShng', 'BrkComm', 'Stucco', 'AsphShn',
       'CBlock'], dtype=object)

In [276]:
house["Exterior2nd"].unique()

array(['VinylSd', 'Wd Sdng', 'HdBoard', 'Plywood', 'MetalSd', 'Brk Cmn',
       'CmentBd', 'ImStucc', 'Wd Shng', 'AsbShng', 'Stucco', 'CBlock',
       'BrkFace', 'AsphShn', 'Stone'], dtype=object)

In [277]:
house["Exterior2nd"] = np.where(house["Exterior2nd"] == "Wd Shng", "Wd Sdng", house["Exterior2nd"])

In [278]:
house["Exterior2nd"] = np.where(house["Exterior2nd"] == "CmentBd", "CemntBd", house["Exterior2nd"])
house["Exterior2nd"] = np.where(house["Exterior2nd"] == "Brk Cmn", "BrkComm", house["Exterior2nd"])

In [279]:
house["Exterior2nd"].unique()

array(['VinylSd', 'Wd Sdng', 'HdBoard', 'Plywood', 'MetalSd', 'BrkComm',
       'CemntBd', 'ImStucc', 'AsbShng', 'Stucco', 'CBlock', 'BrkFace',
       'AsphShn', 'Stone'], dtype=object)

In [280]:
house["ExterQual"].unique()

array(['TA', 'Gd', 'Ex', 'Fa'], dtype=object)

In [281]:
house["ExterCond"].unique()

array(['TA', 'Gd', 'Fa', 'Po', 'Ex'], dtype=object)

In [282]:
house["Foundation"].unique()

array(['CBlock', 'PConc', 'BrkTil', 'Stone', 'Slab', 'Wood'], dtype=object)

In [283]:
house["BsmtQual"].unique()

array(['TA', 'Gd', 'Ex', 'Fa', 'No Basement'], dtype=object)

In [284]:
house["BsmtCond"].unique()

array(['TA', 'Po', 'Fa', 'Gd', 'No Basement'], dtype=object)

In [285]:
house["BsmtExposure"].unique()

array(['No', 'Gd', 'Mn', 'Av', 'No Basement'], dtype=object)

In [286]:
house["BsmtFinType1"].unique()

array(['Rec', 'ALQ', 'GLQ', 'Unf', 'BLQ', 'LwQ', 'No Basement'],
      dtype=object)

In [287]:
house["BsmtFinType2"].unique()

array(['LwQ', 'Unf', 'Rec', 'BLQ', 'GLQ', 'ALQ', 'No Basement'],
      dtype=object)

In [288]:
house["Heating"].unique()

array(['GasA', 'GasW', 'Grav', 'Wall'], dtype=object)

In [289]:
house["HeatingQC"].unique()

array(['TA', 'Gd', 'Ex', 'Fa', 'Po'], dtype=object)

In [290]:
house["CentralAir"].unique()

array(['Y', 'N'], dtype=object)

In [291]:
house["Electrical"].unique()

array(['SBrkr', 'FuseA', 'FuseF', 'FuseP'], dtype=object)

In [292]:
house["KitchenQual"].unique()

array(['TA', 'Gd', 'Ex', 'Fa'], dtype=object)

In [293]:
house["Functional"].unique()

array(['Typ', 'Min2', 'Min1', 'Mod', 'Maj1', 'Sev', 'Maj2', 'Sal'],
      dtype=object)

In [294]:
house["FireplaceQu"].unique()

array(['No Fireplace', 'TA', 'Gd', 'Po', 'Fa', 'Ex'], dtype=object)

In [295]:
house["GarageType"].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'No Garage', 'Basment', '2Types',
       'CarPort'], dtype=object)

In [296]:
house["GarageFinish"].unique()

array(['Unf', 'Fin', 'RFn', 'No Garage'], dtype=object)

In [297]:
house["GarageQual"].unique()

array(['TA', 'No Garage', 'Fa', 'Gd', 'Po'], dtype=object)

In [298]:
house["GarageCond"].unique()

array(['TA', 'No Garage', 'Fa', 'Gd', 'Po', 'Ex'], dtype=object)

In [299]:
house["PavedDrive"].unique()

array(['Y', 'N', 'P'], dtype=object)

In [300]:
house["PoolQC"].unique()

array(['No Pool', 'Ex', 'Gd'], dtype=object)

In [301]:
house["Fence"].unique()

array(['MnPrv', 'No Fence', 'GdPrv', 'GdWo', 'MnWw'], dtype=object)

In [302]:
house["MiscFeature"].unique()

array(['None', 'Gar2', 'Shed', 'Othr'], dtype=object)

In [303]:
house["SaleType"].unique()

array(['WD', 'COD', 'New', 'ConLD', 'Oth', 'Con', 'ConLw', 'ConLI', 'CWD'],
      dtype=object)

In [304]:
house["SaleCondition"].unique()

array(['Normal', 'Partial', 'Abnorml', 'Family', 'Alloca', 'AdjLand'],
      dtype=object)

In [305]:
TotalBathroomsBasement=(1*house["BsmtFullBath"])+(0.5*house["BsmtHalfBath"])

In [306]:
house.insert(50,"TotalBathBasement",TotalBathroomsBasement)

In [307]:
house["TotalBathBasement"].unique()

array([0. , 1. , 0.5, 2. , 1.5, 3. ])

In [308]:
house.iloc[0:5,45:52]

,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,TotalBathBasement,HalfBath
0,0,896,0.0,0.0,1,0.0,0
1,0,1329,0.0,0.0,1,0.0,1
2,0,1629,0.0,0.0,2,0.0,1
3,0,1604,0.0,0.0,2,0.0,1
4,0,1280,0.0,0.0,2,0.0,0

In [309]:
house=house.drop("TotalBathBasement",axis=1)

In [310]:
house.insert(49,"TotalBathBasement",TotalBathroomsBasement)

In [311]:
house.iloc[0:5,45:52]

,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,TotalBathBasement,FullBath,HalfBath
0,0,896,0.0,0.0,0.0,1,0
1,0,1329,0.0,0.0,0.0,1,1
2,0,1629,0.0,0.0,0.0,2,1
3,0,1604,0.0,0.0,0.0,2,1
4,0,1280,0.0,0.0,0.0,2,0

In [312]:
TotalBathroomsAboveGrade=(1*house["FullBath"])+(0.5*house["HalfBath"])

In [313]:
house.insert(52,"TotalBathroomsAboveGrade",TotalBathroomsAboveGrade)

In [314]:
TotalBathrooms=(1*house["TotalBathroomsAboveGrade"])+(1*house["TotalBathBasement"])

In [315]:
house.insert(53,"TotalBathrooms",TotalBathrooms)

In [316]:
TotalRooms=house["TotalBathrooms"]+house["BedroomAbvGr"]+house["KitchenAbvGr"]

In [317]:
house.insert(57,"TotalRooms",TotalRooms)

In [318]:
TotalRooms_bathroomas1=house["BsmtFullBath"]+house["BsmtHalfBath"]+house["FullBath"]+house["HalfBath"]+house["BedroomAbvGr"]+house["KitchenAbvGr"]

In [319]:
house.insert(58,"TotalRooms_bathroomas1",TotalRooms_bathroomas1)

In [320]:
TotalPorchArea=house["OpenPorchSF"]+house["EnclosedPorch"]+house["3SsnPorch"]+house["ScreenPorch"]

In [321]:
house.insert(77,"TotalPorchArea",TotalPorchArea)

In [322]:
house.iloc[0:5,72:78]

,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,TotalPorchArea
0,0,0,0,120,0,120
1,36,0,0,0,0,36
2,34,0,0,0,0,34
3,36,0,0,0,0,36
4,82,0,0,144,0,226

In [323]:
house=house.drop("TotalPorchArea",axis=1)

In [324]:
house.insert(76,"TotalPorchArea",TotalPorchArea)

In [325]:
house.iloc[0:5,72:78]

,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,TotalPorchArea,PoolArea
0,0,0,0,120,120,0
1,36,0,0,0,36,0
2,34,0,0,0,34,0
3,36,0,0,0,36,0
4,82,0,0,144,226,0

In [326]:
GoodFloorAreaSF=house["1stFlrSF"]+house["2ndFlrSF"]-house["LowQualFinSF"]

In [327]:
house.insert(47,"GoodFloorAreaSFabovegrade",GoodFloorAreaSF)

In [328]:
FinishedBsmtAreaSF=house["TotalBsmtSF"]-house["BsmtUnfSF"]

In [329]:
house.insert(37,"FinishedBsmtAreaSF",FinishedBsmtAreaSF)

In [330]:
TotalFinishedAreaSF=house["FinishedBsmtAreaSF"]+house["GrLivArea"]

In [331]:
house.insert(49,"TotalFinishedAreaSF",TotalFinishedAreaSF)

In [332]:
house.iloc[0:5,47:51]

   GrLivArea  GoodFloorAreaSFabovegrade  TotalFinishedAreaSF  BsmtFullBath
0        896                        896               1508.0           0.0
1       1329                       1329               2252.0           0.0
2       1629                       1629               2420.0           0.0
3       1604                       1604               2206.0           0.0
4       1280                       1280               1543.0           0.0

In [333]:
house.shape

(1459, 89)

In [334]:
agebyyrbuilt=house["YrSold"]-house["YearBuilt"]

In [335]:
agebyyrremodel=house["YrSold"]-house["YearRemodAdd"]

In [336]:
house.insert(89,"agebyyrbuilt",agebyyrbuilt)

In [337]:
house.insert(90,"agebyyrremodel",agebyyrremodel)

In [338]:
house.to_csv("futurecleaned_cp_2.csv")

In [339]:
house=house.drop("OverallCond",axis=1)

In [162]:
#removing garage area for garage cars(0.64>0.62)
#removing OverallCond for low correlation with Salesprice
#removing BsmtFinSF2
#removing LowQualFinSF
#removing BsmtHalfBath
#removing EnclosedPorch
#removing 3SsnPorch
#removing ScreenPorch
house=house.drop("GarageArea",axis=1)
house=house.drop("BsmtFinSF2",axis=1)
house=house.drop("LowQualFinSF",axis=1)
house=house.drop("BsmtHalfBath",axis=1)
house=house.drop("EnclosedPorch",axis=1)
house=house.drop("3SsnPorch",axis=1)
house=house.drop("ScreenPorch",axis=1)

In [163]:
house.shape

(1459, 83)

In [164]:
house.to_excel("future_cleaned_2.xlsx",sheet_name='cleaned_2')

In [166]:
house=house.drop("FinishedBsmtAreaSF",axis=1)
house=house.drop("GrLivArea",axis=1)
house=house.drop("FullBath",axis=1)
house=house.drop("HalfBath",axis=1)
house=house.drop("TotalBathBasement",axis=1)
house=house.drop("TotalRooms",axis=1)

In [170]:
house=pd.read_excel('future_cleaned_2.xlsx')

In [171]:
house.shape

(1459, 84)

In [172]:
totalarea=house["GrLivArea"]+house["TotalBsmtSF"]

In [173]:
house.insert(83,"TotalGrBsmtSF",totalarea)

In [174]:
house=house.drop("TotalGrBsmtSF",axis=1)

In [175]:
house.insert(84,"TotalGrBsmtSF",totalarea)

In [176]:
house.iloc[0:5,82:85]

   agebyyrbuilt  agebyyrremodel  TotalGrBsmtSF
0            49              49           1778
1            52              52           2658
2            13              12           2557
3            12              12           2530
4            18              18           2560

In [177]:
otherarea=house["TotalGrBsmtSF"]+house["MasVnrArea"]

In [179]:
house.insert(85,"OA1",otherarea)

In [181]:
house.iloc[0:5,82:86]

   agebyyrbuilt  agebyyrremodel  TotalGrBsmtSF   OA1
0            49              49           1778  1778
1            52              52           2658  2766
2            13              12           2557  2557
3            12              12           2530  2550
4            18              18           2560  2560

In [340]:
house.shape

(1459, 90)

In [341]:
house.to_csv("futurecleaned_cp2.csv")

In [343]:
house.iloc[0:5,85:91]

   YrSold SaleType SaleCondition  agebyyrbuilt  agebyyrremodel
0    2010       WD        Normal            49              49
1    2010       WD        Normal            52              52
2    2010       WD        Normal            13              12
3    2010       WD        Normal            12              12
4    2010       WD        Normal            18              18

In [344]:
totalarea=house["GrLivArea"]+house["TotalBsmtSF"]

In [345]:
house.insert(90,"TotalGrBsmtSF",totalarea)

In [346]:
otherarea=house["TotalGrBsmtSF"]+house["MasVnrArea"]

In [347]:
house.insert(91,"OA1",otherarea)

In [348]:
otherarea2=house["OA1"]+house["GarageArea"]

In [349]:
house.insert(92,"OA2",otherarea2)

In [350]:
house.iloc[0:5,85:93]

,YrSold,SaleType,SaleCondition,agebyyrbuilt,agebyyrremodel,TotalGrBsmtSF,OA1,OA2
0,2010,WD,Normal,49,49,1778.0,1778.0,2508.0
1,2010,WD,Normal,52,52,2658.0,2766.0,3078.0
2,2010,WD,Normal,13,12,2557.0,2557.0,3039.0
3,2010,WD,Normal,12,12,2530.0,2550.0,3020.0
4,2010,WD,Normal,18,18,2560.0,2560.0,3066.0

In [351]:
house=house.drop("TotalGrBsmtSF",axis=1)

In [352]:
house.insert(92,"TotalGrBsmtSF",totalarea)

In [353]:
house.iloc[0:5,85:93]

,YrSold,SaleType,SaleCondition,agebyyrbuilt,agebyyrremodel,OA1,OA2,TotalGrBsmtSF
0,2010,WD,Normal,49,49,1778.0,2508.0,1778.0
1,2010,WD,Normal,52,52,2766.0,3078.0,2658.0
2,2010,WD,Normal,13,12,2557.0,3039.0,2557.0
3,2010,WD,Normal,12,12,2550.0,3020.0,2530.0
4,2010,WD,Normal,18,18,2560.0,3066.0,2560.0

In [354]:
house.to_csv("futurecleanedcp3.csv")

In [356]:
house=house.drop("GarageArea",axis=1)
house=house.drop("BsmtFinSF2",axis=1)
house=house.drop("LowQualFinSF",axis=1)
house=house.drop("BsmtHalfBath",axis=1)
house=house.drop("EnclosedPorch",axis=1)
house=house.drop("3SsnPorch",axis=1)
house=house.drop("ScreenPorch",axis=1)

In [358]:
house=house.drop("FinishedBsmtAreaSF",axis=1)
house=house.drop("GrLivArea",axis=1)
house=house.drop("FullBath",axis=1)
house=house.drop("HalfBath",axis=1)
house=house.drop("TotalBathBasement",axis=1)
house=house.drop("TotalRooms",axis=1)

In [359]:
house.shape

(1459, 80)

In [360]:
house=house.drop("OA1",axis=1)

In [361]:
house.shape

(1459, 79)

In [362]:
house.to_csv("futurecleaned.csv")