In [2]:
import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

In [3]:
house = pd.read_excel('historicalcleaned.xlsx')

In [4]:
#split the dependent variable and independent variable
house_X =  house.copy()
house_X.drop(['SalePrice'],axis=1,inplace=True)
house_y = house['SalePrice']

In [5]:
house_x= house_X.iloc[:,:].values

In [6]:
type(house_x)

numpy.ndarray

In [7]:
house.head(1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,agebyyrbuilt,agebyyrremodel,OA2,TotalGrBsmtSF,SalePrice
0,1,60,RL,65,8450,Pave,No Alley Access,Reg,Lvl,AllPub,...,0,2,2008,WD,Normal,5,5,3310,2566,208500

In [8]:
house.drop(['Id'],axis=1,inplace=True)
house.drop(['MSSubClass'],axis=1,inplace=True)
house.drop(['Heating'],axis=1,inplace=True)
house.drop(['Functional'],axis=1,inplace=True)
house.drop(['RoofMatl'],axis=1,inplace=True)
house.drop(['MiscFeature'],axis=1,inplace=True)

In [9]:
house.shape

(1460, 74)